header.artist-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 0 20px;
  max-width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.TrackListHeadeer__entity-followers {
  color: #333333;
}
