.Root__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
  overflow-y: auto;
  min-width: 230px;
  will-change: transform;
  min-height: 0;
  width: 230px;
  height: 100vh;
  position: fixed;
  
  overflow: hidden;
}
.navBar,
.navBar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
}

.navBar {
  padding-top: 24px;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 0;
  -webkit-user-select: none;

  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.navBar-header .logo {
  padding-left: 24px;
}

.navBar-header .logo {
  border: 0;
  padding-bottom: 18px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.logo .spotify-logo--text {
  width: 131px;
  height: 40px;
}

.navBar ul {
  list-style: none;
  padding: 0px;
}

.navBar li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.navBar-item--with-icon-left,
.navBar-item--with-icon-right {
  position: relative;
}

.navBar-item {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  font-weight: 500;
}

.navBar-link {
  border: 0;
  width: 100%;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  margin-right: 0;
}

.navBar-link--active:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 0px;
  bottom: 5px;
  width: 4px;
  background-color: #1ed760;
}

.navBar-link:hover {
  color: #fff;
}
.navBar-link--active,
.navBar-link--active:focus,
.navBar-link--active:hover {
  color: #fff;
}
.link-subtle {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  color: #b3b3b3;
  text-decoration: none;
}

.navBar-item--with-icon-left .navBar-link-text-with-icon-wrapper,
.navBar-item--with-icon-right .navBar-link-text-with-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navBar-item--with-icon-left .navbar-link__text {
  margin-left: 16px;
}

.recently-played {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navBar-group-header {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.015em;
  font-weight: var(--glue-font-weight-normal);
  color: #b3b3b3;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #fff;
  opacity: 0.6;
}

.navBar-group-header {
  padding-left: 24px;
  padding-right: 0;
}

.navBar-group-header {
  padding-top: 24px;
  padding-bottom: 7px;
}

.navBar-item--with-icon-left,
.navBar-item--with-icon-right {
  position: relative;
}

.navBar-item--small {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  font-weight: var(--glue-font-weight-normal);
  color: #b3b3b3;
  text-transform: none;
  color: #fff;
}
.navBar-item {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  font-weight: var(--glue-font-weight-bold);
}

.ellipsis-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  margin-right: -1px;
}

.navBar-item--with-icon-left .navbar-link__text {
  margin-right: 16px;
}
.navbar-link__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
}
.playlistItems {
  height: 30px;
}
